{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %} {% endblock %}</title>
    <style>
        ::-webkit-scrollbar{
          width: 10px;
          background-color: #e8e8e8;
        }
        ::-webkit-scrollbar-thumb{
          background-color: #808080;
          border-radius: 10px;
        }
        ::-webkit-scrollbar-thumb:active{
            background-color: #4e4e4e;
        }
      </style>
</head>
<body>
    {% block content %} {% endblock %}
</body>
</html>