{% extends 'main/base.html' %}
{% block title %} SolJay Home {% endblock %}
{% block content %} 
<div class="ml-4 p-4">
    <h1 class="font-bold text-md mb-2">Home page</h1>
    {% if request.user.is_authenticated %}
        <p class="font-bold text-2xl">HI {{ request.user.username }}!</p>
        <a href="{% url 'logout' %}">
            <button class="border bg-red-500 px-4 py-2 text-white font-bold hover:bg-red-600 mt-2 rounded-md">Logout</button>
        </a>
    {% else %}
        <a href="{% url 'login' %}">
            <button class="border bg-blue-500 px-4 py-2 text-white font-bold mr-[2px] rounded-md">Login</button>
        </a>
        <a href="{% url 'register' %}">
            <button class="border bg-green-500 px-4 py-2 text-white font-bold rounded-md">Register</button>
        </a>
        <p class="text-2xl text-center border mt-4 py-2 w-[fit-content] px-4 rounded-md">Login to see available jobs</p>
    {% endif %}
    {% if jobs %}
        <div class="flex gap-4 justify-center flex-wrap mt-4">
            {% for job in jobs %}
                <div class="border {% if job.job_type == 'offer' %} bg-yellow-100 {% else %}bg-gray-100{% endif %} p-2 rounded-md shadow-md max-w-[400px] w-full p-4">
                    <div class="thumbnail relative">
                        <img src="{{ job.image.url }}" class="w-full border rounded-md" style="height: 300px;">
                        {% if job.job_type == 'offer' %}
                            <div class="tag absolute rounded-md font-bold bg-yellow-300 w-[fit-content] px-2 top-0">OFFER</div>
                        {% endif %}
                    </div>
                    <p class="text-1xl font-bold">{{ job.title }}</p>
                    <div class="font-bold px-2 mt-[4px] bg-blue-200 rounded-full w-[fit-content] block">{{ job.country }}</div>
                    <p class="mt-2">{{ job.description|truncatewords:10 }}</p>
                    <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold w-full mt-2 py-2 rounded-md transition">checkout</button>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}